{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R14"}.

{cover_enabled, true}.

{sub_dirs, ["rel", "ucengine"]}.

{deps, [
{misultin, ".*", {git, "https://github.com/ostinelli/misultin.git", {branch, "master"}}},
{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {tag, "v0.2.7"}}},
{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v2.2.0"}}},
{emongo, ".*", {git, "git://github.com/AF83/emongo.git", {branch, "bson_null"}}},
{metrics, ".*", {git, "git://github.com/athoune/metrics.git", {tag, "v0.4.2"}}}
]}.
