{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R14"}.

{sub_dirs, ["rel", "ucengine"]}.

{deps, [
{'ibrowse', ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v2.1.3"}}},
{'emongo', ".*", {git, "git://github.com/boorad/emongo.git", {branch, "master"}}},
{'metrics', ".*", {git, "git://github.com/athoune/metrics.git", {tag, "v0.4"}}}
]}.
