.jcarousel-skin-ucengine .jcarousel-container {
    background: #666;
}

.jcarousel-skin-ucengine .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-ucengine .jcarousel-container-horizontal {
    width: 756px;
}

.jcarousel-skin-ucengine .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-ucengine .jcarousel-clip-horizontal {
    height: 123px;
    width: 100%;
}

.jcarousel-skin-ucengine .jcarousel-item {
    width: 150px;
    height: 120px;
    color: black;
    margin: 10px;
    background: #C6C6C6;
}

.jcarousel-skin-ucengine .jcarousel-item-horizontal {
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #A9A9A9;
    margin-right: -1px;
}

.jcarousel-skin-ucengine .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ucengine .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    height: 122px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-ucengine .jcarousel-next-disabled-horizontal {
    cursor: default;
    background: transparent url(next-horizontal-end.png) no-repeat 0 0;
}

.jcarousel-skin-ucengine .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20px;
    height: 122px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-ucengine .jcarousel-prev-disabled-horizontal {
    cursor: default;
    background: transparent url(prev-horizontal-end.png) no-repeat 0 0;
}
