/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}
.clear {
    clear: both;
}
.clear-block {
    display: inline-block;
}
.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clear-block {
    height: 1%;
}
.clear-block {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    font: 12px Helvetica;
}

.page {
    clear: both;
    width: 980px;
    margin: 0 auto;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, section, #content {
    display: block;
}
header, footer, section {
    clear: both;
}

/* header */
header .page {
    position: relative;
}

header ul li {
    display: inline-block;
    height: 100px;
    width: 200px;
    border: 1px solid #999;
    line-height: 100px;
    text-align: center;
    background: #FFF;
}

header {
    width: 100%;
    height: 94px;
    z-index: 10000;
    background: #474648;
    color: white;
}

#logoPartner {
    border: none;
    position: absolute;
    left: -26px;
}

header p {
    margin: 0;
    position: absolute;
    top: 16px;
    right: 0;
}

header p a {
    padding: 0 0 0 5px;
    font: bold 12px Helvetica;
    color: white;
    text-decoration: underline;
}

header ul {
    float: right;
}

header nav {
    position: absolute;
    top: 60px;
    right: 0;
    margin: 0;
}

header ul {
    width: auto;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0;
    padding: 0 0 0 20px;
    background: none;
}

/* nav */
nav {
    background: #D6D6D6;
}
nav ul {}
nav ul li {
    display: inline;
}
nav ul li a {
    display: inline-block;
    padding: 0 20px;
    font: bold 14px/40px Helvetica;
    color: #222;
}
nav ul li.on a, nav ul li a:hover {
    background: #474648;
    color: #FFF;
}

/* footer */
footer {
    clear: both;
    margin: 20px 0 0 0;
    background: #C0C0C0;
}
footer p {
    font: bold 14px/40px Helvetica;
    color: #222;
}

/* content */
#content section {
    clear: both;
    padding: 10px 0;
}
#content section .block {
    float: left;
    width: 318px;
    margin: 0 10px 10px 0;
    border: 1px solid #DADADA;
}
#content section .block.last {
    margin: 0;
}
#content section .block .block-header {
    background: #D6D6D6;
    padding: 0px;
}
#content section .block .block-header h2 {
    font: bold 16px Helvetica;
    color: #424242;
    padding: 10px;
}
#content section .block .block-header h3 {
    font: bold 16px Helvetica;
    color: #424242;
    background: #E6E6E6;
    padding: 10px;
    padding-left: 16px;
}

/* home */
#content section.large .block {
    width: 318px;
    margin: 0;
}
#content section.large .block .block-content {
    padding: 10px;
}
#content section.large .block .block-content p {
    clear: both;
    margin: 10px 0 0 0;
}
#content section.large .block .block-content p label {
    display: block;
    font: normal 12px Helvetica;
    color: #424242;
}
#content section.large .block .block-content p.checkbox label {
    display: inline;
}
#content section.large .block .block-content p label span {
    color: red;
}
#content section.large .block .block-content p input[type="text"], #content section.large .block .block-content p input[type="password"] {
    width: 280px;
    padding: 2px 5px;
    border: 1px solid #DADADA;
    font: normal 12px Helvetica;
    color: #424242;
}
#content section.large .block .block-content ul {
    margin: 15px 0 0 0;
}
#content section.large .block .block-content ul li {
    display: inline;
}
#content section.large .block .block-content ul li a {
    color: #424242;
    text-decoration: underline;}
#content section.large .block .block-content input[type="submit"],
#content section.large .block .block-content input[type="reset"] {
    display: inline-block;
    padding: 0 15px;
    font: bold 12px/20px Helvetica;
    color: #222;
    text-decoration: none;
    border: none;
    background: #A9A9A9;
    cursor: pointer;
}
#content section.large .block .block-content p a {
    color: #424242;
}

#content section .block.welcome {
    width: 628px;
    margin: 0 10px 0 0;
    padding: 10px;
    vertical-align: top;
}
#content section .block.welcome .block-header {
    padding: 0;
    background: none;
}
#content section .block.welcome .block-content {
    padding: 0;
}
#content section .block.welcome h1 {
    margin: 0 0 15px 0;
    font: bold 18px Helvetica;
    color: #424242;
}
#content section .block.welcome p {
    margin: 0 0 15px 0;
    font: normal 14px Helvetica;
    color: #424242;
}
#content section .block.welcome .block-footer {
    margin: 60px 0 0 0;
}
#content section .block.welcome .block-footer p a {
    font: bold 16px Helvetica;
    color: #424242;
}

#content section .block.events .block-header {
    position: relative;
}
#content section .block.events .block-header ul {
    position: absolute;
    top: 12px;
    right: 10px;
}
#content section .block.events .block-header ul li {
    position: relative;
    display: inline;
    list-style-type: none;
    padding: 0 0 0 5px;
}

#content section .block.events .block-header ul li:nth-child(1) {
    padding: 0 5px 0 0;
    border-right: 1px solid #222;
}
#content section .block.events .block-header ul li a {
    font: normal 11px Helvetica;
    color: #222;
    text-decoration: underline;
}
#content section .block.events .block-header ul li a.on {
    font: bold 11px Helvetica;
    text-decoration: none;
}
#content section .block.events .block-content {
    padding: 10px;
}
#content section .block.events .block-content ul {}
#content section .block.events .block-content ul li {
    position: relative;
    padding: 0 80px 10px 0;
    list-style-type: none;
}
#content section .block.events .block-content ul li p {
    font: normal 12px Helvetica;
    color: #424242;
}
#content section .block.events .block-content ul li p a.more {
    font: normal 12px Helvetica;
    color: #424242;
}
#content section .block.events .block-content ul li p a {
    font: bold 12px/20px Helvetica;
    color: #424242;
    text-decoration: underline;
}

#content section .block.events .block-content ul li p.go {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 10px;
    right: 0;
    background: #A9A9A9;
    text-align: center;
}
#content section .block.events .block-content ul li p.go a {
    font: normal 12px/20px Helvetica;
    color: #222;
    text-decoration: none;
}

#content section .block.events .block-footer p {
    margin: 10px 0;
    text-align: center;
}
#content section .block.events .block-footer p a {
    display: inline-block;
    padding: 0 30px;
    font: normal 12px/20px Helvetica;
    color: #222;
    text-decoration: none;
    background: #A9A9A9;
}

/* register */
#content section .block.register {
    width: 960px;
    margin: 0 0 10px 0;
    padding: 10px;
}
#content section .block.register .block-header {
    padding: 0;
    background: none;
}
#content section .block.register .block-header h1 {
    margin: 0 0 0 0;
    font: bold 18px Helvetica;
    color: #424242;
}
#content section .block.register .block-content {
    padding: 0;
}
#content section .block.register .block-content .errors {
    clear: both;
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px;
    border: 1px solid red;
}
#content section .block.register .block-content .errors li {
    display: block;
    color: red;
    font: normal 12px/16px Helvetica;
}

/* meeting */
#content section .block.info {
    position: relative;
    margin: 0 10px 0 0;
    vertical-align: top;
}
#content section .block.info .block-content {
    padding: 10px;
}
#content section .block.info .block-content p {
    margin: 0;
    font: normal 12px/16px Helvetica;
    color: #424242;
}
#content section .block.info .block-content p a {
    color: #424242;
    text-decoration: underline;
}
#content section .block.info .block-content p.quit {
    position: absolute;
    width: auto;
    height: 20px;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: #A9A9A9;
    text-align: center;
}
#content section .block.info .block-content p.quit a {
    font: normal 12px/20px Helvetica;
    color: #222;
    text-decoration: none;
}

/* tools */
#content section .block.tools {
    width: 320px;
    margin: 0;
    border: none;
}
#content section .block.tools .block-content {
    padding: 0;
}


#content section .block.tools .block-content.speak {}
#content section .block.tools .block-content.speak ul {
    margin: 10px 0 0 0;}
#content section .block.tools .block-content.speak ul li {
    float: left;
    width: 49%;
    border: 1px solid #656565;
}
#content section .block.tools .block-content.speak ul li a {
    float: left;
    width: 100%;
    font: normal 12px/40px Helvetica;
    color: #222;
    text-decoration: none;
    background: #A9A9A9;
    text-align: center;
}

#about h1 {
    font: normal 24px Helvetica;
}

#about p {
    margin: 1em;
}

/* meeting */
#meeting section {
    clear: none;
}

#widgets {
    width: 928px;
    margin-left: 48px;
}

/* meeting infos */
section#infos {
    width: 928px;
}

section#infos article {
    float: left;
    min-height: 52px;
}

section#infos article#timer {
    width: 254px;
}

section#infos article.block.info {
    width: 660px;
}

/* reduced */
section#reduced {
    float: right;
    clear: none;
    display: block;
    width: 318px;
    min-height: 200px;
}

section#reduced article {
    width: 318px;
    margin: 0 0 10px 0;
}

/* expanded */
section#expanded {
    float: left;
    clear: none;
    display: block;
    width: 600px;
    min-height: 200px;
}

section#expanded article {
    width: 600px;
    margin: 0 0 10px 0;
}

/* drag/drop highlight */
section article.highlight {
    border: 2px dashed #DADADA;
    background-color: #FFF;
}

section#reduced article.highlight {
    min-height: 200px;
}

section#expanded article.highlight {
    min-height: 400px;
}

/* dock */
#dock {
    float: left;
    width: 32px;
    clear: none;
    position: fixed;
    margin-top: 10px;
}

#dock li {
    list-style-type: none;
    min-height: 37px;
}

#dock .ui-state-default.ui-button-icon-only {
    background: #EBEBEB;
    border: 1px solid #DADADA;
    width: 32px;
    min-height: 32px;
}

/* ui-widget */
section > .ui-widget {
    border: 1px solid #DADADA;
}
.ui-widget.ui-replay {
    border: 0;
}

/* for demo */
#board p, #player p {
    width: 100%;
    height: 240px;
    font: normal 12px/240px Helvetica;
    color: #424242;
    text-align: center;
}

#replay-mode {
    position: fixed;
    bottom: 0;
    background: none repeat scroll 0 0 #818181;
    left: 0;
    width: 100%;
}

#search-results {
    margin-top: 32px;
    display: none;
    padding: 16px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #424242;
}

.toggle-results {
    font-size: 36px;
    float: right;
    padding: 3px;
    margin-left: 18px;
    line-height: 0px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../images/pane_show.png");
    cursor: pointer;
}
.toggle-results.show {
    background-image: url("../images/pane_hide.png");
}

.ui-search-title {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 16px;
}

.ui-search-elem-title {
    font-size: 20px;
    color: #000000;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}


.ui-search {
    float: right;
}

.ui-results .ui-widget-header {
    font-size: 20px;
    color: #000000;
    padding: 10px;
    border: 0;
    border-bottom: solid 1px  #000000;
    background: none;
}
.ui-results .ui-widget-content {
    height: 170px;
    overflow: auto;
}

/**
 * Widget header
 */
.ui-widget .ui-widget-header {
    position: relative;
    padding: 5px 10px;
    background: #D6D6D6;
    border: 0;
    height: 32px;
}
.ui-widget.ui-slider .ui-widget-header { padding: 0; }

.ui-widget .ui-widget-header-title,
.ui-widget .ui-widget-header-left,
.ui-widget .ui-widget-header-right {
    line-height: 32px;
    vertical-align: middle;
}

.ui-widget .ui-widget-header-title {
    font: bold 23px Helvetica;
    color: #424242;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-widget .ui-widget-header-left {
    float: left;
    text-align: left;
}

.ui-widget .ui-widget-header-left > * {
    margin-right: 1em;
}

.ui-widget .ui-widget-header-title {
    float: left;
    margin-left: 1em;
}

.ui-widget .ui-widget-header-right {
    float: right;
    text-align: right;
}

.ui-widget .ui-widget-header-right > * {
    margin-left: 1em;
}

.ui-widget .ui-state-default.ui-button-text-only {
    font-weight: normal;
    color: #222222;
    background: #A9A9A9;
    border: none;
}

.ui-widget .ui-toolbar-button.ui-button-icon-only {
    color: #424242;
    background: transparent;
    border: none;
    width: 16px;
}

/* we don't want round corner */
.ui-widget .ui-corner-all {
    border-radius: 0;
    -webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;
}

.ui-results-list-element, .ui-search-elem-title {
    cursor: pointer;
}