/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}
.clear {
    clear: both;
}
.clear-block {
    display: inline-block;
}
.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clear-block {
    height: 1%;
}
.clear-block {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    font: 12px Helvetica;
}

.page {
    clear: both;
    width: 980px;
    margin: 0 auto;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, section, #content {
    display: block;
}
header, footer, section {
    clear: both;
}

/* header */
header .page {
    position: relative;
}

header ul li {
    display: inline-block;
    height: 100px;
    width: 200px;
    border: 1px solid #999;
    line-height: 100px;
    text-align: center;
    background: #FFF;
}

header {
    width: 100%;
    height: 94px;
    z-index: 10000;
    background: #666;
    color: white;
}

#logoPartner {
    border: none;
    position: absolute;
    left: -26px;
}

header p {
    margin: 0;
    position: absolute;
    top: 16px;
    right: 0;
}

header p a {
    padding: 0 0 0 5px;
    font: bold 12px Helvetica;
    color: white;
    text-decoration: underline;
}

header ul {
    float: right;
}

header nav {
    position: absolute;
    top: 60px;
    right: 0;
    margin: 0;
}

header ul {
    width: auto;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0;
    padding: 0 0 0 20px;
    background: none;
}

/* nav */
nav {
    background: #D6D6D6;
}
nav ul {}
nav ul li {
    display: inline;
}
nav ul li a {
    display: inline-block;
    padding: 0 20px;
    font: bold 14px/40px Helvetica;
    color: #222;
}
nav ul li.on a, nav ul li a:hover {
    background: #474648;
    color: #FFF;
}

/* footer */
footer {
    clear: both;
    margin: 20px 0 0 0;
    background: #C0C0C0;
}
footer p {
    font: bold 14px/40px Helvetica;
    color: #222;
}
