body {
	font-family: arial, helvetica;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 14pt;
	font-style: italic;
	margin-bottom: 8px;
}

a {
	text-decoration: none;
	color: black;
}

#whiteboard {
  position: relative;
  top: 15px;
  height: 450px;
}

canvas {
	border: 1px solid #AAAAAA;
}

#canvas {
	position: absolute;
	left: 90px;
	top: 10px;
}

#canvasInterface {
	position: absolute;
	left: 90px;
	top: 10px;
}

#noCanvas {
	position: absolute;
	left: 90px;
	top: 100px;
	width: 400px;
	height: 400px;
	font-size: 16px;
}

#chooserWidgets {
	display: block;
	position: absolute;
	left: 500px;
	width: 300px;
	top: 10px;
}

#chooserWidgets canvas {
	margin-bottom: 10px;
}

#controls {
	position: absolute;
	top: 10px;
	left: 8px;
	font-size: 12px;
	width: 70px;
}

.ctr_btn {
	overflow: hidden;
	width: 70px;
	height: 20px;
	cursor: pointer; 
	padding-left: 3px; 
	margin-bottom: 2px;
	border:1px solid #AAAAAA; 
	background-color:#FFFFFF;
}

.ctr_btn:hover {
  background-color: #EEEEEE;
}

.ctr_btn.active,
.ctr_btn:active {
  background-color: #CCCCCC;
}

#cpainterInfo {
	position: absolute;
	left: 500px;
	top: 320px;
}

#errorArea {
	position: absolute;
	width: 200px;
	left: 800px;
}

