/**
 * replay widget
 */
.ui-replay .ui-button {
    width: 64px;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    color: black;
    border: 1px solid #DADADA;
}
.ui-replay .ui-slider {
    float: left;
    width: 650px;
    height: 24px;
}
.ui-replay .ui-slider .ui-slider-range {
    background: none repeat scroll 0 0 #DADADA;
}
.ui-replay .ui-slider  .ui-slider-handle {
    height: 28px;
}
.ui-replay .ui-replay-time {
    float: left;
    margin-left: 12px;
    padding: 4px;
    background-color: #DADADA;
    font-weight: bold;
    width: 120px;
    text-align: center;
    border: 1px solid #424242;
    background-color: #DADADA;
}
