{sys, [
       {lib_dirs, ["../deps", "../"]},
       {rel, "ucengine", "0.5",
        [
         gproc,
         ucengine,
         kernel,
         stdlib,
         sasl,
         crypto,
         emongo,
         ibrowse
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ucengine"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "ucengine"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ucengine", "bin/ucengine"},
           {copy, "files/ucengine-admin", "bin/ucengine-admin"},
           {copy, "files/demo.sh", "bin/demo.sh"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "files/uce.cfg", "etc/uce.cfg"},
           {copy, "../wwwroot", "."}
           ]}.
